$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $Almost-White;
  color: $Almost-Black;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  min-height: 100vh;
}

main {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .desktop__nav--menu {
      display: none;
    }
  }

  .side-nav {
    background-color: $Almost-White;
    color: $Medium-Gray;
    display: flex;
    flex-direction: column;
    font-size: 0.95em;
    height: 100%;
    left: 35%;
    padding: 1.3rem;
    position: absolute;
    width: 65%;
    z-index: 10;

    .close-button {
      align-self: flex-end;
      margin-bottom: 2em;
    }

    .side-nav__link {
      margin-bottom: 1.4rem;
      span {
        margin-right: 0.5em;
      }
    }

    .side-nav__drop-down {
      margin: 0.5em 1em 0.5em 1.5em;
      img {
        margin-right: 1em;
        width: 18px;
      }
    }

    p {
      align-items: center;
      display: flex;
      margin-bottom: 1em;
    }

    button {
      background-color: $Almost-White;
      border: $Medium-Gray solid 2px;
      border-radius: 15px;
      color: $Medium-Gray;
      font-family: 'Epilogue', sans-serif;
      font-size: 1rem;
      max-width: 15em;
      padding: 0.75em;
    }

    #login-btn {
      border: none;
      margin-bottom: 0.25em;
    }
  }

  .modal {
    background: rgba(20, 20, 20, 0.8);
    display: grid;
    height: 100%;
    left: 0;
    place-items: center;
    position: fixed;
    top: 0;
    transition: var(--transition);
    width: 100%;
    z-index: 1;
  }

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 100%;
    }

    article {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2em 1em;
      text-align: center;

      h1 {
        font-size: 2.2rem;
        font-weight: 700;
      }

      p {
        color: $Medium-Gray;
        font-size: 1rem;
        line-height: 1.5;
        margin: 1.5em 0;
      }

      button {
        background-color: $Almost-Black;
        border: none;
        border-radius: 15px;
        color: $Almost-White;
        font-size: 1rem;
        font-weight: 700;
        height: 3rem;
        margin-bottom: 3rem;
        width: 8.5rem;
      }

      .sponsors {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;

        img {
          height: 19%;
          width: 19%;
        }
      }
    }
  }
}

// utility classes
.hide {
  visibility: hidden;
}
.hideDropDown {
  display: none;
}
.clickedNavItem {
  color: $Almost-Black;
}

// media queries
@media only screen and (min-width: 600px) {
  main section {
    flex-direction: row-reverse;
    align-items: stretch;
    margin: 2.4em auto;
    width: 80%;

    article {
      align-items: flex-start;
      width: 45%;
      padding: 0 1em;

      h1 {
        font-size: 2.5em;
      }

      h1,
      p {
        text-align: left;
      }
      button {
        &:hover {
          background-color: $Almost-White;
          color: $Almost-Black;
          border: 1px solid $Almost-Black;
          cursor: pointer;
        }
      }
      .sponsors {
        width: 100%;

        img {
          width: 17%;
          height: auto;
        }
      }
    }

    .hero-image {
      content: url('../images/image-hero-desktop.png');
      width: 50%;
      align-self: flex-start;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .hamburger {
    display: none;
  }

  main {
    nav {
      align-items: center;
      justify-content: flex-start;
      padding: 1em 2em;

      .desktop__nav--menu {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .nav__links {
          align-items: center;
          color: $Medium-Gray;
          display: flex;
          justify-content: center;
          margin: 0 3em;

          .drop-down-container {
            position: relative;

            .side-nav__link {
              margin: 0 1em;
              span {
                font-size: 0.8em;
              }
              &:hover {
                color: $Almost-Black;
                cursor: pointer;
              }
            }

            .side-nav__drop-down {
              background-color: white;
              position: absolute;
              border-radius: 10px;
              padding: 1em 1.5em;
              box-shadow: 2px 13px 64px 12px rgba(0, 0, 0, 0.1);
              top: 30px;
              img {
                margin-right: 1em;
                width: 18px;
              }
              p {
                align-items: center;
                display: flex;
                margin-bottom: 1em;
                font-size: 0.9rem;
                white-space: nowrap;
              }
              p:last-child {
                margin-bottom: 0;
              }
            }
          }

          #company-drop-down {
            left: 20px;
          }
          #features-drop-down {
            right: 20px;
          }
        }

        button {
          background-color: $Almost-White;
          border: $Medium-Gray solid 2px;
          border-radius: 15px;
          color: $Medium-Gray;
          font-family: 'Epilogue', sans-serif;
          font-size: 1rem;
          padding: 0.75em;

          &:hover {
            border: $Almost-Black solid 2px;
            color: $Almost-Black;
            cursor: pointer;
          }
        }

        #login-btn--desktop {
          border: none;
          margin-right: 2em;
        }
      }
    }
    section .hero-image {
      width: 40%;
    }
    section article {
      width: 60%;
      h1 {
        font-size: 4.2em;
        margin-top: 1.5em;
        width: 78%;
      }
      p {
        font-size: 1.1rem;
        width: 65%;
      }
      .sponsors {
        width: 70%;
      }
    }

    .side-nav,
    .modal {
      display: none;
    }
  }
}
